.u-section-1 .u-sheet-1 {
  min-height: 609px;
}

.u-section-1 .u-text-1 {
  margin: 80px 0 0 21px;
}

.u-section-1 .u-image-1 {
  width: 617px;
  height: 332px;
  margin: 21px 251px 37px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    animation-duration: 1000ms;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 630px;
    margin-top: -14px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin: 20px 0 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 285px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 179px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 421px;
  margin: 51px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 59px 123px 0 596px;
}

.u-section-2 .u-image-1 {
  width: 480px;
  height: 317px;
  margin: -734px auto 0 43px;
}

.u-section-2 .u-image-2 {
  width: 510px;
  height: 325px;
  margin: 59px auto 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 23px;
    margin-left: 496px;
  }

  .u-section-2 .u-image-1 {
    width: 412px;
    height: 314px;
    margin-top: -731px;
  }

  .u-section-2 .u-image-2 {
    width: 427px;
    height: 315px;
    margin-top: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 43px;
    margin-right: 70px;
    margin-left: 94px;
  }

  .u-section-2 .u-image-1 {
    width: 289px;
    height: 272px;
    margin-top: 37px;
  }

  .u-section-2 .u-image-2 {
    width: 302px;
    height: 272px;
    margin-top: -272px;
    margin-right: 43px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 227px;
    height: 271px;
    margin-left: 28px;
  }

  .u-section-2 .u-image-2 {
    width: 206px;
    height: 273px;
    margin-top: -271px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1446px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 215px;
    height: 243px;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 250px;
    margin-top: 26px;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 564px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 51px auto 0 25px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0 25px;
}

.u-section-3 .u-image-1 {
  width: 540px;
  height: 253px;
  margin: 25px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 46px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-3 .u-image-1 {
    width: 514px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 7px;
  }

  .u-section-3 .u-image-1 {
    height: 175px;
    width: 315px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 811px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 122px auto 0 25px;
}

.u-section-4 .u-text-2 {
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 294px;
  margin: 25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 54px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 10px;
    margin-left: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 500px;
    height: 279px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1401px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 183px;
    width: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 630px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 43px 43px 51px;
}